html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    margin: 0;
    padding-top: 1%;
    padding-left: 1%;
}

li a {
    display: block;
    color:black;
    font-weight: 400;
    text-align: center;
    float: left;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: rgb(247, 224, 236);
}

#btn-back-to-top {
    position: fixed;
    bottom: 50px;
    right: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    outline: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#btn-back-to-top:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

#btn-back-to-top:not(:hover) { 
    transition: all .2s ease-in-out;
}

.site-wrapper {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

h4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    margin-bottom: -1%;
}

p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1.5;
    font-size: 18px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-top:2%;
}

.hero-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 500vh;
    height: 400px;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-image: url(images/shape-tinia-bottom_1.png), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.73)), to(hsla(0, 0%, 100%, 0))), url(images/cover-page.svg);
    background-image: url(images/shape-tinia-bottom_1.png), linear-gradient(0deg, rgba(0, 0, 0, 0.73), 
                    hsla(0, 0%, 100%, 0)), url(images/cover-page.svg);
    background-position: 50% 100%, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    background-repeat: repeat-x, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
}

.hero-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 800px;
    padding-left: 10%;
    padding-bottom: 4rem;
    color: #fff;
}

.project-title {
    font-size: 6em;
    line-height: 1.125em;
}

.project-subtitle {
    line-height: 1em;
    font-weight: 800;
    color: white;
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 950px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom: 2px solid #ececec;
}

.introduction {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.attribute {
    width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 700;
}

.action-header {
    font-size: 24px;
    font-weight: bolder;
    color:white;
}

.persona-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 48px;
}

.persona {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.persona-pdf {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #33393f;
}

.persona-pdf:hover {
    transition: background-color 0.5s ease;
    background-color: yellow;
}

.curly-section {
    padding-top: 52px;
    padding-bottom: 160px;
    background-color: #f5f5f5;
    background-image: url(images/shape-tinia-top.png), url(images/shape-tinia-bottom.png);
    background-position: 50% 0px, 50% 100%;
    background-size: auto, auto;
    background-repeat: repeat-x, repeat-x;
}

.curly-section.blue {
    margin-bottom: -80px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #6a9fff;
}

.title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color:white;
    font-size: 48px;
}

.card-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    padding: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 4%;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
}

.curly-section.purple {
    margin-bottom: -80px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #717EC3;
}

.planning-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 24px;
}

.planning {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.planning-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.png {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #33393f;
}

.png:hover {
    transition: background-color 0.5s ease;
    background-color: yellow;
}

h2 {
    margin-bottom: -0.5%;
    padding-top: 5%;
}

.user-flow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; 
}

.flow-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flow-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 24px;
}

.flowchart-pdf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.wireframing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;   
}

.wireframing-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 24px;
}

.feedback-text {
    color: white;
    margin-bottom: 3%;
    margin-top:-1%;
}

.rationale-text {
    color:white;
    margin-bottom: 1%;
}

.rationale-header {
    font-size: 24px;
    font-weight: bolder;
    color:white;
}

.title.rationale {
    margin-bottom: -1%;
}

.prototype-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 24px;
}

.prototype {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 5%;
}

.prototype-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.curly-section.yellow {
    margin-bottom: -80px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #931621;
}

.curly-section.pink {
    margin-bottom: -80px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #D55672;
}

.conclusion {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.conclusion-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 48px;
}

.curly-section.green {
    margin-bottom: -80px;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #2CA58D;
}

.next-steps-text {
    color:white;
    margin-top: -1%;
}